<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre y apellido</label>
                <div class="col-sm-9">
                    <input type="text"
                            formControlName="name"
                            class="form-control"
                            placeholder="Nombre del usuario">

                    <span *ngIf="isInvalidField('name')" class="form-text text-danger">
                        Debe de ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                            formControlName="email"
                            class="form-control"
                            placeholder="Email del usuario">
<!--                     <span *ngIf="isInvalidField('email')" class="form-text text-danger">
                        mensaje de error del email
                    </span> -->
                    <span *ngIf="registerForm.controls['email'].hasError('emailTaken')" class="form-text text-danger">
                        Este correo ya está siendo utilizado
                    </span>                    
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                            formControlName="username"
                            class="form-control"
                            placeholder="Nombre código del usuario">
                    <span *ngIf="isInvalidField('username')" class="form-text text-danger">
                         El username no puede ser Strider
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                            formControlName="password"
                            class="form-control"
                            placeholder="Password de su cuenta">

                    <span *ngIf="isInvalidField('password')" class="form-text text-danger">
                         La contraseña debe de ser mayor de 6 caracteres.
                    </span>
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                            formControlName="password2"
                            class="form-control"
                            placeholder="Confirmar la contraseña">

                    <span *ngIf="isInvalidField('password2')" class="form-text text-danger">
                         Las contraseñas deben de ser iguales
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Crear
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>

<div class="row mt-4">

    <div class="col-7 mt-4">
        <pre class="bg-dark text-white p-2 rounded">{{ 'formulario' | json }}</pre>

        <h5>Nombre</h5>
        <pre class="bg-dark text-white p-2 rounded">{{ registerForm.controls['name'].errors | json }}</pre>

        <h5>Email</h5>
        <pre class="bg-dark text-white p-2 rounded">{{ registerForm.controls['email'].errors | json }}</pre>

        <h5>Username</h5>
        <pre class="bg-dark text-white p-2 rounded">{{ registerForm.controls['username'].errors | json }}</pre>

        <h5>Password</h5>
        <pre class="bg-dark text-white p-2 rounded">{{ registerForm.controls['password'].errors | json }}</pre>

        <h5>Confirmar</h5>
        <pre class="bg-dark text-white p-2 rounded">{{ registerForm.controls['password2'].errors | json }}</pre>        
    </div>

    <div class="col-5 mt-4">
        <h5>Form Valid:</h5>
        <span>{{registerForm.valid}}</span>
        <h5>Form Status:</h5>
        <span>{{registerForm.status}}</span>
        <h5>Form Pending:</h5>
        <span>{{registerForm.pending}}</span>
        <h5>Form errors:</h5>
        <span>{{registerForm.errors}}</span>
    </div>



</div>


